# Xcode
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store

# Xcode project
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Archives
*.xcarchive
